*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:200vh;
}
header{
max-width:100%;
height:30vh;
background:url("/Online\ -\ imges.jpg") no-repeat top left,url("/Online-shoping.jpg") no-repeat top right,linear-gradient(to bottom right,rgba(75, 71, 71, 0.671),rgba(17, 16, 16, 0.826),rgba(126, 111, 111, 0.918))  ;
background-size:35vh 33vh ,39vh 33vh,90vw 33vh;
            /*Width  Height*/
}
header h1{
    text-align:center;
    position: absolute;
    top:5vh;
    left:25vw;
    font-size:9vh;
    color:whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1 span{
    font-size:15vh;
}
header section{
    position: relative;
    left:68vw;
    width:15vw;
    top:23vh;
    
   
}

nav ul li {
    display:inline;
   
    
}
nav ul li a{
    text-decoration: none;
    display:inline-block;
    padding:1em;
}

nav ul li:nth-child(1)
{
    padding-left:0;
}

a:hover{
    background-color: aquamarine;
}